*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    background-color: #efefef;
    color: white;
    font-size: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
                        "header header"
                        "navigation navigation"
                        "sidebar main"
                        "ads footer";
    align-content: center;
    gap: 1rem;
    background-color: slategray;
    max-width: 100%;
    height: 100vh;
    padding: 1rem;
}

.container > div {
    border: .4rem solid red;
    border-radius: .6rem;
}

.first {
    color: white;
    grid-area: header;
}

.second {
    background-color: #020202;
    grid-area: navigation;
}

.third {
    background-color: peru;
    grid-area: sidebar;
}

.fourth {
    background-color: red;
    grid-area: main;
}

.fifth {
    background-color: blue;
    grid-area: ads;
}

.sixth {
    background-color: rgb(241, 229, 55);
    grid-area: footer;
}
